<%= simple_form_for [sloopy, question],
  html: { data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }} do |f| %>
  <div class="input-group mb-3 w-100">
    <div class="form-floating">
      <%= f.input :user_question, label: false, wrapper: false %>
      <%= f.label :user_question, "Your question" %>
    </div>
       <!-- Inclure les données de l'itinéraire -->
    <%= hidden_field_tag :sloopy_id, @sloopy.id %>
    <%= hidden_field_tag :current_steps, @sloopy.steps.map(&:city).join(',') %>
    <%= f.submit "Ask", id: "new-question-button", class: "btn btn-primary send" %>
  </div>
<% end %>
