<div class="sign-up-page">
  <div class="sign-up-form-wrapper">
    <div class="sign-up-form-container-bis">
      <h2 class="sign-up-title">Sign up</h2>
    </div>
    <div class="sign-up-form-container">

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs sign-up-form-row">
          <div class="sign-up-input-group">
            <%= f.input :first_name, required: true, autofocus: true, label: false, placeholder: "First Name", input_html: { autocomplete: "given-name", class: "sign-up-form-control" } %>
          </div>

          <div class="sign-up-input-group">
            <%= f.input :last_name, required: true, label: false, placeholder: "Last Name", input_html: { autocomplete: "family-name", class: "sign-up-form-control" } %>
          </div>

          <div class="sign-up-input-group">
            <%= f.input :nickname, required: true, label: false, placeholder: "Nickname", input_html: { autocomplete: "nickname", class: "sign-up-form-control" } %>
          </div>
        </div>

        <div class="sign-up-form-row">
          <div class="sign-up-input-group">
            <%= f.input :email, required: true, label: false, placeholder: "Email", input_html: { autocomplete: "email", class: "sign-up-form-control" } %>
          </div>
        </div>
        
        <div class="sign-up-form-row">
          <div class="sign-up-input-group">
            <%= f.input :password, required: true, label: false, placeholder: "Password", hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { autocomplete: "new-password", class: "sign-up-form-control" } %>
          </div>

          <div class="sign-up-input-group">
            <%= f.input :password_confirmation, required: true, label: false, placeholder: "Confirm Password", input_html: { autocomplete: "new-password", class: "sign-up-form-control" } %>
          </div>
        </div>

        <div class="sign-up-form-actions">
          <%= f.button :submit, "Sign up", class: "btn-sign-up" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
