<div class="chat-sidebar">
  <div class="sidebar-header">
    <h2>Messaging 📮</h2>
  </div>

  <div class="users-list">
    <% chatrooms.each do |chat| %>
      <% user = chat.other_user(current_user) %>
      <%= link_to chatroom_path(chat),
          class: "user-item #{'active' if chat.id == @chatroom&.id}" do %>
        <div class="user-avatar">
          <% if user.photo.attached? %>
            <%= cl_image_tag(user.photo.key, class: 'avatar') %>
          <% else %>
            <%= image_tag('https://img.freepik.com/photos-premium/collage-impressionnant-du-concept-voyage-accessoires-voyageur-avion-valise-rendu-3d_741910-15686.jpg?w=740', class: 'avatar') %>
          <% end %>
        </div>
        <div class="user-info">
          <div class="user-name"><%= user.nickname %></div>
          <% if chat.messages.any? %>
            <div class="last-message">
              <%= chat.messages.last.content.truncate(30) %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <%# Afficher les utilisateurs sans conversation %>
    <% users.reject { |u| chatrooms.any? { |c| c.participants.include?(u) } }.each do |user| %>
      <%= link_to chatrooms_path(second_user_id: user.id),
          data: { turbo_method: :post },
          class: "user-item" do %>
        <div class="user-avatar">
          <i class="fa-solid fa-user avatar"></i>
        </div>
        <div class="user-info">
          <div class="user-name"><%= user.nickname %></div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
