<div class="sloopy-container-feed">
  <h1 class = "title_home">MY FEED</h1>
  <% if @sloopies.any? %> <!-- Check if there are any sloopies -->
    <% @sloopies.each_with_index do |sloopy, index| %>
      <div class="sloopy-card-feed">
        <!-- Image and Title Section -->
        <div class="top-right-title-container">
          <!-- Title displaying the number of the Sloopy -->
          <h2>Sloopy <%= index + 1 %></h2>

          <div class="top-right-image">
            <!-- Decorative Image -->
            <% if current_user.photo.attached? %>
              <%= cl_image_tag(current_user.photo.key, class: 'top-right-image') %>
            <% else %>
              <%= image_tag('https://img.freepik.com/photos-premium/collage-impressionnant-du-concept-voyage-accessoires-voyageur-avion-valise-rendu-3d_741910-15686.jpg?w=740', class: 'tp-right-image') %>
            <% end %>
          </div>
        </div> <!-- Close top-right-title-container -->

        <!-- Display user information -->
        <p class="user-name">
          <strong>User:</strong>
          <%= link_to sloopy.user.nickname, other_user_profile_path(sloopy.user.id) %>
        </p>

        <p><strong>Dates:</strong> <%= sloopy.departure_date %> to <%= sloopy.return_date %></p>
        <p><strong>From:</strong> <%= sloopy.origin.capitalize %></p>
        <p><strong>To:</strong> <%= sloopy.destination.capitalize %></p>

        <% if sloopy.steps.any? %>
          <p class="steps-line">
            <strong>Steps:</strong>
            <span class="city-stops"><%= sloopy.steps.map(&:city_stop).join(" ↬ ") %></span>
          </p>
        <% end %>

        <p class="justified"><%= sloopy.summary %></p>
        <p><strong>Estimated budget:</strong> <%= sloopy.budget_estimated %></p>

        <% if sloopy.reviews.any? %>
          <p><strong>Review:</strong> <%= sloopy.reviews.first.content %></p>
          <p><strong>Rating:</strong> <%= sloopy.reviews.first.rating %></p>
        <% end %>

        <!-- Button and Link Container -->
        <div class="btn-container">
          <!-- Save/Unsave Button -->
          <% if sloopy.user_id == current_user.id %>
            <%= form_with model: sloopy, url: update_save_sloopy_path(sloopy), method: :patch, remote: true, html: { id: "save-toggle-form-#{sloopy.id}", class: "sloopy-form", data: { turbo: "false" } } do |form| %>
              <%= form.submit sloopy.is_saved ? 'Unsave Sloopy' : 'Save Sloopy',
                              class: "btn-save-toggle btn-orange",
                              id: "btn-save-toggle-#{sloopy.id}" %>
            <% end %>
          <% else %>
            <%= form_with url: copy_sloopy_path(sloopy), method: :post, remote: true, html: { class: "sloopy-form" } do |form| %>
              <%= form.submit 'Copy', class: "btn-copy-toggle btn-orange", id: "btn-copy-toggle-#{sloopy.id}" %>
            <% end %>
          <% end %>

          <!-- See Details Link -->
          <%= link_to "See Details", sloopy_path(sloopy), class: "btn-orange" %>
        </div> <!-- Close btn-container -->
      </div> <!-- Close sloopy-card-feed -->
    <% end %>
  <% else %>
    <p>No sloopies to display.</p>
  <% end %>
</div> <!-- Close sloopy-container-feed -->
