<h1>My profile</h1>

<div class="profile-container">
  <p><strong>Nickname:</strong> <%= @user.nickname %></p>
  <p><strong>First Name:</strong> <%= @user.first_name %></p>
  <p><strong>Last Name:</strong> <%= @user.last_name %></p>
  <p><strong>Email:</strong> <%= @user.email %></p>
  <p><strong>Slooper since:</strong> <%= @user.created_at.strftime("%B %Y") %></p>

  <h3>Profile Actions:</h3>
  <ul>
    <li><%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary" %></li>
  </ul>
</div>
