<div class="sloopie-page" data-controller="next-button">
  <% steps = [
      "sloop_details", 
      "favorite_activities",
      "ideal_travel_pace",
      "exciting_experiences",
      "traveling_with",
      "preferred_vibe",
      "main_travel_goal" ] %>

  <% steps.each do |step| %>
    <% if step == "sloop_details" %>
      <%= simple_form_for(sloopy) do |f| %>
        <%= f.error_notification %>
        <%= render "sloopies/steps/sloop_details", f: f, sloopy: sloopy %>
      <% end %>
    <% else %>
      <div class="d-flex justify-content-center align-items-center min-vh-70" >  
        <%= simple_form_for :user_preferences, url: preferences_path, method: :post do |f| %>
          <div class="form-container-home d-none">
            <%= render "sloopies/steps/experiences", category: step, f: f %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<!-- Script pour gérer l'affichage dynamique de la valeur au-dessus du curseur -->
<script>
  const budgetSlider = document.getElementById('budget');
  const budgetValue = document.getElementById('budget-value');

  // Fonction pour mettre à jour la valeur du budget et la position du texte
  function updateBudgetValue() {
    const value = budgetSlider.value;
    budgetValue.textContent = `${value}€`;

    // Calculer la position du curseur
    const position = (value - budgetSlider.min) / (budgetSlider.max - budgetSlider.min) * 100;
    budgetValue.style.left = `calc(${position}% - 35px)`; // Ajuster le décalage pour centrer la valeur
  }

  // Appel de la fonction lors du changement de valeur du slider
  budgetSlider.addEventListener('input', updateBudgetValue);

  // Appel initial pour positionner correctement la valeur au chargement de la page
  updateBudgetValue();
</script>
