<div id="sloopy_<%= sloopy.id %>" class="sloopy-container">
  <%= turbo_stream_from "sloopy_#{sloopy.id}" %>
    <% if sloopy.steps.empty? %>
      <%= render "loading_card", sloopy: sloopy, index: index %>
    <% else %>
      <div class="sloopy-card">
        <h2>Sloopy <%= index + 1 %></h2>
        <p><strong>Dates:</strong> <%= sloopy.departure_date %> to <%= sloopy.return_date %></p>
        <p><strong>From:</strong> <%= sloopy.origin.capitalize %></p>
        <p><strong>To:</strong> <%= sloopy.destination.capitalize %></p>
        <p id="save-status-<%= sloopy.id %>">
          <strong>Saved:</strong> <%= sloopy.is_saved ? 'Yes' : 'No' %>
        </p>

        <% if sloopy.steps.any? %>
          <p class="steps-line">
            <strong>Steps:</strong>
            <span class="city-stops"><%= sloopy.steps.map(&:city_stop).join(" ↬ ") %></span>
          </p>

        <% end %>

        <p class="justified"><%= sloopy.summary %></p>
        <p><strong>Estimated budget:</strong> <%= sloopy.budget_estimated %></p>

        <!-- Save/Unsave button -->
        <%= form_with model: sloopy, url: update_save_sloopy_path(sloopy), method: :patch, data: { turbo: true } do |form| %>
          <%= form.submit sloopy.is_saved ? 'Unsave Sloopy' : 'Save Sloopy',
                          class: "btn-save-toggle btn-orange",
                          id: "btn-save-toggle-#{sloopy.id}" %>
        <% end %>

        <%= link_to "See Details", sloopy_path(sloopy), class: "btn-sloopy" %>

        <!-- Delete button for the owner -->
        <%= link_to '<i class="fa-regular fa-circle-xmark" style="color: #cf5847;"></i>'.html_safe,
                    sloopy_path(sloopy),
                    data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    },
                    class: "btn btn-deleter" %>
      </div>
    <% end %>

</div>
