<div class="div-sloopy">
  <h1>We have generated <%= @sloopies.count %> Sloopies for you, are you ready to trip?</h1>

  <div class="main-content">
    <%= turbo_stream_from "maps" %>
    <turbo-frame id="map-section">
      <%= render "map", markers: @markers %>
    </turbo-frame>

    <div class="sloopy-section">
      <%= turbo_stream_from "sloopies" %>
      <div class="sloopy-container" id="sloopies">
        <% @sloopies.each_with_index do |sloopy, index| %>
          <%= render "sloopies/sloopy", sloopy: sloopy, index: index %>
        <% end %>
      </div>
    </div>
  </div>
</div>
