<div class="div-sloopy">
  <h1>We have generated <%= @sloopies.count %> Sloopy for you, are you ready to trip?</h1>

  <div class="main-content">
    <div class="map-side">
      <%= turbo_stream_from "maps" %>
      <turbo-frame id="map-section">
        <%= render "map", markers: @markers %>
      </turbo-frame>
    </div>

    <div class="cards-side">
      <%= turbo_stream_from "sloopies" %>
      <div id="sloopies">
        <% @sloopies.each_with_index do |sloopy, index| %>
          <%= render "sloopies/sloopy", sloopy: sloopy, index: index %>
        <% end %>
      </div>
    </div>
  </div>
</div>
