<h1>We have generate <%= @sloopies.count %> for you, are you ready to trip?</h1>

<div class="container">
  <% @sloopies.each do |sloopy| %>
    <h2> Sloopy 1 </h2>
      <%= sloopy.departure_date %> <%= sloopy.return_date %>
    <ul>
      <%= sloopy.origin %>
      <%= sloopy.destination %>
    </ul>
    <%= link_to "see details", sloopy_path(sloopy) %>
  <% end %>
</div>
