<div class="div-sloopy">
  <h1>We have generated <%= @sloopies.count %> Sloopies for you, are you ready to trip?</h1>

  <div class="main-content">
    <div class="map-section">
      <div class="container mt-4 div-home">
        <div class="map-container"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
          style="width: 100%; height: 400px;">
        </div>
      </div>
    </div>

    <div class="sloopy-section">
      <div class="sloopy-container">
        <% @sloopies.each_with_index do |sloopy, index| %>
          <div class="sloopy-card">
            <h2>Sloopy <%= index + 1 %></h2>
            <p><strong>Dates:</strong> <%= sloopy.departure_date %> to <%= sloopy.return_date %></p>
            <p><strong>From:</strong> <%= sloopy.origin.capitalize %></p>
            <p><strong>To:</strong> <%= sloopy.destination.capitalize %></p>
            <% if sloopy.steps.any? %>
              <p class="steps-line">
                <strong>Steps:</strong>
                <span class="city-stops"><%= sloopy.steps.map(&:city_stop).join(" ↬ ") %></span>
              </p>
            <% end %>
            <p class="justified"><%= sloopy.summary %></p>
            <p><strong>Estimated budget:</strong> <%= sloopy.budget_estimated.split('€')[1] %>€</p>
            <%= link_to "See details", sloopy_path(sloopy), class: "btn-sloopy" %>
            <% if user_signed_in? && current_user.owns?(sloopy) %>
                  <%= link_to '<i class="fa-regular fa-circle-xmark" style="color: #cf5847;"></i>'.html_safe,
                      sloopy_path(sloopy),
                      data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                      },
                      class: "btn btn-deleter" %>
              <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
